// Specific CSS for your home-page

h1 {
  padding-top: 100px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 24px;
}

#cocktail_index_container {
  // border: 1px solid black;
  width: 80%;
  margin: auto;
  padding: 10px;
}
